
body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bg6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.inicio{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 2;
    top: 50% ;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:70px 30px   ;


}

.inicio h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.inicio label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.inicio input{
    width: 100%;
    margin-bottom: 20px;
}
.inicio input[type="text"],
.inicio input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.inicio input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #ff0000;
    color: #fff;
    font-weight: bold;

}
.inicio a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: -10px;


}
.registrar {
    width: 320px;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 50%;
    left: 50%;

    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    display: none; /* Oculta el formulario de registro inicialmente */
}
.registrar h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.registrar h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.registrar label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.registrar input {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}

.registrar input[type="text"],
.registrar input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registrar input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #ff0000;
    color: #fff;
    font-weight: bold;
}

.registrar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: -10px;
}
.registrar button {
    display: block; /* Cambiamos el display a "block" para que ocupe le */
    margin: 0 auto; /* Margen automático horizontal para centrar el botón */
    background: #ff0000;
    color: #fff;
    border: none;
    outline: none;
    height: 30px;
    width: 100px; /* Ajusta el ancho según tus preferencias */
    font-size: 16px;
    font-weight: bold;
}


