{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/disenio.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    
</head>
<body>
    <div class="inicio">
        
        <h1>BEAUTY AI</h1>
        <h2>INICIAR SESION</h2>
        <form action="/iniciar-sesion" method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required placeholder="ingrese el nombre">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" required placeholder="ingrese la contraseña">
            <input type="submit" value="iniciar sesion">
         </form>
         <a href="#" id="registro">Registrarse</a>

    </div>
        

   <div class="registrar" id="formularioregistro">
        <h1>BEAUTY AI</h1>
        <h2>REGISTRARSE</h2>
       <form action="/guardar" method="POST">
           <label for="nombre">Nombre</label>
           <input type="text" id="nombre" name="nombre" required placeholder="ingresa el nombre">
           <label for="contraseña">Contraseña</label>
           <input type="password" id="contraseña" name="contraseña" required placeholder="ingresa la contraseña">
           <input type="submit" value="registrar">
           <button type="button" id="volver">VOLVER</button>
        </form>
    </div>
    <script>
        const registrarselink= document.getElementById("registro");
        const formularioregistro= document.getElementById("formularioregistro");
        const btnVolver= document.getElementById("volver");
        const formularioInicio= document.querySelector(".inicio");
        
        registrarselink.addEventListener("click",function(event){
            event.preventDefault();

            if(formularioregistro.style.display=== "none"||formularioregistro.style.display==="") {
                formularioregistro.style.display ="block";
                if (formularioInicio) {
                    formularioInicio.style.display = "none";
                }
            }else{
                formularioregistro.style.display ="none";
                if (formularioInicio) {
                    formularioInicio.style.display = "block";
                }
            }
            
        })
        btnVolver.addEventListener("click", function() {
            formularioregistro.style.display = "none";
            if (formularioInicio) {
                formularioInicio.style.display = "block";
            }
        })
    </script>


    </body>
</html>