{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/disenio.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="u" placeholder="Username"  />
            <input type="password" name="p" placeholder="Password"  />
            <button type="submit" class="btn btn-primary btn-block btn-large"><a href="{%url 'index' %}">INICIAR SESION</a></button>
        </form>
    </div>   
</body>
</html>
